<template>
   <p>{{name}}</p>
</template>
<script>

import axios from 'axios';

export default {

    props: ['title'],

    data() {
        return {
            name: 'Jignesh',
            count: 1
        }
    },
    
    methods : {
        increment_counter() {
            this.count = this.count + 1;
        },

        getMyTitle : async function() {
        const response = await axios.get('https://test.com/title') ; 
        return response.data.title;
        },

        getMyName : async function() {
        const response = await axios.get('https://test.com/name') ; 
        return response.data.name;
        },

        postMyName : async function() {
        const response = await axios.post('https://test.com/name',{
            name : 'JigneshPost'
        }) ; 
        return response.data.status;
        }
    }
}
</script>